.App {
  text-align: center;
  border: solid black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: scroll;
}

.blog .blog-id  {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: center;
}



 /* {
  border: solid black;
} */

.topic, .title, .content {
    border: solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.buttons {
  display: flex;
}
